@import "custom/common-import";

.tab-fill {
    letter-spacing: 1px;

    .nav-link {
        border: 1px solid $gray-900;

        &:before {
            content: '';
            position: absolute;
            bottom: -8px;
            border-top: 7px solid transparent;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            display: inline-block;

            html[dir='ltr'] & {
                left: 20px;
            }

            html[dir='rtl'] & {
                right: 20px;
            }
        }

        &.active {
            background-color: $primary;
            border-color: $primary;
            color: $white;

            &:before {
                border-top: 7px solid $primary;
            }
        }
    }
}

.service-contract {
    .figure {
        img {
            height: 250px;
        }

        .custom-radio {
            position: absolute;
            bottom: -21px;

            html[dir='ltr'] & {
                right: 21px;
            }

            html[dir='rtl'] & {
                left: 21px;
            }
        }
    }
}

.comprehensive-insurance {
    max-width: 871px;

    .nav-link {
        .img-clip {
            height: 180px;
            clip-path: polygon(0 0, 100% 0, 100% 87%, 50% 87%, 50% 100%, 50% 87%, 0 87%);
            transition: all 0.3s ease-in-out;
        }

        &.active {
            .img-clip {
                clip-path: polygon(0 0, 100% 0, 100% 87%, 58% 87%, 50% 100%, 41% 87%, 0 87%);
            }
        }

        .content {
            height: 156px;
        }
    }

    .tab-content {
        li {
            &:nth-child(odd) {
                background-color: $gray-300;
            }
        }
    }
}

.trade-in-form {
    max-width: 1006px;
}

.finance {
    .finance-inner {
        max-width: 500px;
    }

    .finance-form {
        max-width: 408px;
    }
}

.range-slider {
    width: 100%;

    .range-slider-input {
        -webkit-appearance: none;
        width: 100%;
        height: 4px;
        background: $input-border-color;
        outline: none;
    }

    .range-slider-input::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 27px;
        height: 27px;
        border-radius: 50%;
        background-image: url(../images/range-input-icon.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-color: $white;
        border: 1px solid $gray-600;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }

    .range-slider-input::-moz-range-thumb {
        width: 27px;
        height: 27px;
        border-radius: 50%;
        background-image: url(../images/range-input-icon.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-color: $white;
        border: 1px solid $gray-600;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
}
